<style>
    input{
        background-color: transparent;
        outline: none;
        border-bottom: 2px solid rgba(100,100,100,.1);
        
        
    }
    p{
        padding: 5px; 
    }
    input:focus{
        outline: none;
        border-bottom: 2px solid orange;
    }
    ul li{
        color: orange;
    }
    
</style>
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center text-3xl font-bold p-5">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change max-w-md shadow-md rounded-lg m-auto p-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="border-2 border-orange-500 px-5 py-1 text-center rounded-md m-auto block mt-5 hover:bg-orange-500 hover:text-white">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
