{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
    p input{
        background-color: transparent;
        padding: 5px;
    }
    p input:focus{
        outline: none;
        border-bottom: 2px solid orange;
    }
    p{
        background-color: transparent;
        max-width: max-content;
        padding: 10px;
        display: block;
        margin: auto;
    }
</style>
    <h1 class="text-center text-2xl font-bold py-5">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center p-2">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="border-2 border-orange-500 px-5 py-1 rounded-md text-center m-auto block mt-3 hover:bg-orange-500 hover:text-white"/>
    </form>

    <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
