<style>
    input{
        background-color: transparent;
        outline: none;
        border-bottom: 2px solid rgba(100,100,100,.1);
        
        
    }
    p{
        padding: 5px;
    }
    input:focus{
        outline: none;
        border-bottom: 2px solid orange;
    }
    ul li{
        color: orange;
    }
</style>{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-center p-5">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="max-w-xl m-auto shadow-md rounded-lg p-5">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}" class="border-2 border-orange-500 px-5 py-1 text-center rounded-md m-auto block mt-5 hover:bg-orange-500 hover:text-white"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
