{% extends "account/base.html" %}
{% load account %}
{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="m-12">
  
        <h2 class="text-center font-bold text-3xl p-5">{% trans "Register for a Player ID for the tournament series" %}</h2>    
        <p>By creating a player ID you can register yourself for the <i>World Youth Scrabble Championship</i>, <i> Sri Lanka International Open</i>, or the <i>WYSC Side Tournament 2024</i>.
          Each player should register once. If you have already registered but you have forgotten your password, please try the 
            <a href="/accounts/password/reset/" class="text-orange-500 hover:underline">password reset form.</a> If you are unable to reset your password please contact the  Scrabble Federation of Sri Lanka <a class="text-orange-500 hover:underline" href="mailto:wysc2024@scrabble.lk">(wysc2024@scrabble.lk)</a>.
        </p><br>
        <p class="text-orange-500"><strong>Please avoid creating two player ids.</strong></p>
        <br>
        <p>{% blocktrans %}Already have an account? Then please <a class="text-orange-400 underline" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <br>
        <form class="signup max-w-lg m-auto shadow-md p-10 rounded-md gap-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          
          {% for field in form %}
          <div class="grid grid-cols-2 p-3">
              <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="p-1 bg-transparent border-b-2  focus:outline-none focus:border-b-orange-300" id="{{ field.id_for_label }}" 
                          {% if field.field.required %} required {% endif %}>
                {{ field.errors }}
          </div>
          {% endfor %}  
          {% if redirect_field_value %}
          <input class="p-5 bg-transparent" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="border-2 border-orange-500 px-5 py-1 rounded-md text-center m-auto block mt-3 hover:bg-orange-500 hover:text-white">{% trans "Sign Up" %} </button>
        </form>
    
</div>


{% endblock %}
