{% extends "profiles/base.html" %}
{% block content %}
    <div class="m5">
        <p class="text-center font-semibold text-2xl p-5">
            We are now trying to find your WESPA rating.
        </p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <h3 class="text-center font-medium text-xl p-5">WESPA Ratings</h3>
        <div class="m-3">
            <p class="max-w-3xl text-center">We have searched for your name in the wespa ratings list, if you see a match below please select it. If your name appears multiple times,
                or if you have played WEPSA rated tournaments and your name does not show up at all please inform WESPA about it.
            </p>
            {% for w in wespa %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="wespa" 
                        id="w-{{ w.id}}"
                        value="{{ w.name }}"/>
                    <label class="form-check-label" for="w-{{ w.id }}">{{ w.name }}</label>
                </div>
            {% empty %}
                No matches found.
            {% endfor %}
        </div>
    
    <div><input type="submit"   class="m-auto max-w-36 text-center border-2 font-medium hover:text-white text-orange-500 hover:bg-orange-500 border-orange-500 block px-5 py-2 rounded-md" value="submit"/></div>
    <p class="text-center">If your name does not appear, just hit the submit button above</p>
    </form>

{% endblock %}
