{% extends "profiles/base.html" %}
{% block content %}
    <div class="m5">
        <p>
            We are now trying to find your WESPA rating.
        </p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <h3>WESPA Ratings</h3>
        <div class="m-3">
            <p>We have searched for your name in the wespa ratings list, if you see a match below please select it. If your name appears multiple times,
                or if you have played WEPSA rated tournaments and your name does not show up at all please inform WESPA about it.
            </p>
            {% for w in wespa %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="wespa" 
                        id="w-{{ w.id}}"
                        value="{{ w.name }}"/>
                    <label class="form-check-label" for="w-{{ w.id }}">{{ w.name }}</label>
                </div>
            {% empty %}
                No matches found.
            {% endfor %}
        </div>
    
    <div><input type="submit" class="btn btn-primary" value="submit"/></div>
    <div class="mt-3">If your name does not appear, just hit the submit button above</div>
    </form>

{% endblock %}