{% extends "profiles/base.html" %}
{% block content %}
    <div class="m5">
        <div class="flex justify-between bg-gray-200 mt-5 rounded-md mx-auto max-w-xl p-5">
            <div class="">
                <a href="/profile/edit/"><h3 class="">{{ request.user.profile.preferred_name }}</h3></a>
            </div>
            <div class="">
                
        <a class="border-2 border-blue-500 px-5 py-1 text-center rounded-md m-auto  mt-5 hover:bg-blue-500 hover:text-white" href="/profile/edit/">Edit Profile</a>
        <a class="border-2 border-orange-500 px-5 py-1 text-center rounded-md m-auto  mt-5 hover:bg-orange-500 hover:text-white" href="/profile/payment/">Payments</a>

                <a href="/accounts/logout/" class="border-2 border-red-500 px-5 py-1 text-center rounded-md  hover:bg-red-500 hover:text-white">Logout</a>

            </div>
        </div>
        <h4 class="mt-5 text-2xl font-bold text-center p-5">Upcoming tournaments</h4>
        <table class=' m-auto text-sm text-left rtl:text-right text-gray-500 p-5 bg-gray-150 shadow-xl rounded-md'>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
        {% for t in tournaments %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.venue }}</td>
                <td>{{ t.start_date }}</td>
                <td>
                    <div class="col-2">
                    {% if t.registered %}
                        You are registered
                        {% if t.passport_required and not t.registered.passport %}
                            <form method="post" enctype="multipart/form-data" class="file-upload-form"
                                action="/profile/passport/">
                                {{ form.errors }}
                                {% csrf_token %}
                                <label for="id_payment" class>Passport: </label>
                                <input type="file" name="passport" accept="image/*, .pdf" id="id_payment-{{t.id}}" 
                                    class="form-input mt-1 block w-full">
                                <button type="submit" class="upload-button mt-2 disabled:bg-gray-200 bg-orange-500 text-white py-2 px-4 rounded-md " disabled
                                    id="submitButton-{{p.tournament.id}}">Upload</button>
                                <input type="hidden" name="tournament" id="id_tournament" value="{{t.id}}">
                            </form>
                        {% endif %}
                    {% else %}
                        {% if t.closed %} 
                            <p>Registration closed</p>
                        {% else %}
                            <form method="POST" action="/register/">
                                {% csrf_token %}
                                <input type="hidden" name="tournament" value="{{t.id}}" />
                                <input type="submit" name="register" value="register" />
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                </td>
            </tr>
        {% endfor %}
        <div>{{ error }}</div>
            </tbody>
        </table>
        
        <div class="flex justify-center mt-4">
            <a class="border-2 border-blue-500 px-5 py-1 text-center rounded-md m-auto block mt-5 hover:bg-blue-500 hover:text-white" href="/profile/edit/">Edit Profile</a>
            <a class="border-2 border-orange-500 px-5 py-1 text-center rounded-md m-auto block mt-5 hover:bg-orange-500 hover:text-white" href="/profile/payment/">Payments</a>
        </div>

    </div>

    <script>
        const fileInputs = document.querySelectorAll('.form-input');
        fileInputs.forEach(function(input) {
            input.addEventListener('change', function(event) {
                console.log(event.target.files);
                const form = event.target.closest('.file-upload-form');
                const submitButton = form.querySelector('.upload-button');

                if (event.target.files.length > 0) {
                    submitButton.disabled = false;
                } else {
                    submitButton.disabled = true;
                }
            });
        });
    </script>
{% endblock %}