<script src="https://cdn.tailwindcss.com"></script>
{% extends "profiles/base.html" %}
{% block content %}
    <div>
        {% if participants.exists %}
            <p class="text-center p-5 font-semibold">Currently you are registered for the following tournaments:</p>
            {% for p in participants %}
                <div class="m-5 p-5 bg-white rounded-lg shadow-md">
                    <div class="border-b pb-3 mb-3"><h4 class="text-lg font-bold text-center">{{p.tournament.name}}</h4></div>
                    <div>
                        <div class="grid grid-cols-2 md:grid-cols-12 gap-2">
                            <div class="col-span-2 font-medium">Venue:</div>
                            <div class="col-span-10">{{p.tournament.venue}}</div>

                            <div class="col-span-2 font-medium">Start Date:</div>
                            <div class="col-span-10">{{p.tournament.start_date}}</div>

                            <div class="col-span-2 font-medium">Registered as:</div>
                            <div class="col-span-10">{{ p.name }}</div>

                            <div class="col-span-2 font-medium">Payment:</div>
                            <div class="col-span-10">
                                {% if p.tournament.slug == 'wysc'%}
                                    {{p.tournament.payment_info}}<br>
                                    <b>Tournament fees to be paid at the venue.</b>
                                {% else %}
                                    ${{p.tournament.fee}}.<br>
                                    <b>Tournament fees to be paid at the venue.</b>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>You are not registered for any tournaments.</p>
        {% endif %}
        
        <script>
            const fileInputs = document.querySelectorAll('.file-input');

            // Loop through each file input
            fileInputs.forEach(function(input) {
                // Add event listener for each input
                input.addEventListener('change', function(event) {
                    // Get the parent form of the file input
                    const form = event.target.closest('.file-upload-form');
                    
                    // Find the submit button within the parent form
                    const submitButton = form.querySelector('.upload-button');
                    
                    // Enable the submit button if a file is selected, otherwise disable it
                    if (event.target.files.length > 0) {
                        submitButton.disabled = false;
                    } else {
                        submitButton.disabled = true;
                    }
                });
            });
        </script>
    </div>
{% endblock %}
