<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 


<script src="https://cdn.tailwindcss.com"></script>
{% extends "profiles/base.html" %}
{% block content %}
    <div>
        {% if participants.exists %}
            <p class="text-center p-5 font-semibold">Currently you are registered for the following tournaments:</p>
            {% for p in participants %}
                <div class="m-5 p-5 bg-white rounded-lg shadow-md">
                    <div class="border-b pb-3 mb-3"><h4 class="text-lg font-bold text-center">{{p.tournament.name}}</h4></div>
                    <div>
                        <div class="grid grid-cols-2 md:grid-cols-12 gap-2">
                            <div class="col-span-2 font-medium">Venue:</div>
                            <div class="col-span-10">{{p.tournament.venue}}</div>

                            <div class="col-span-2 font-medium">Start Date:</div>
                            <div class="col-span-10">{{p.tournament.start_date}}</div>

                            <div class="col-span-2 font-medium">Registered as:</div>
                            <div class="col-span-10">{{ p.name }}</div>

                            <div class="col-span-2 font-medium">Payment:</div>
                            <div class="col-span-10">
                                ${{p.tournament.fee}}.<br>
                                {% if p.tournament.advance_payment_required == True %}
                                    {% if p.approval == 'V' %}
                                        <p class='mt-5'>Your registration is complete.</p>
                                    
                                    {% elif p.approval == 'P' %}
                                        <p class='mt-5'>Thank you for the payment. Once your payment has been verified, the status will change here 
                                        from 'Pending Verification' to 'Verified'</p>
                                    
                                    {% else %}
                                    {{p.tournament.payment_info}}<br>
                                    <p class="ml-5">
                                        <strong>Bank</strong> : Commercial Bank<br/>
                                        <strong>Branch</strong> : Islamic Banking Unit<br/>
                                        <strong>Name</strong> : Scrabble Federation of Sri Lanka<br/>
                                        <strong>Account Number</strong> : 1000675595<br/>
                                    </p>
            
                                    <p>You can transfer the funds through online banking facilities or, if Sri Lankan, the deposit can be made in person at any branch 
                                        of Commercial Bank.</p>
        
                                    <form method="post" enctype="multipart/form-data" class="file-upload-form">

                                        <br>
                                        {{ p.form.errors }}
                                        {% csrf_token %}
                                        <label for="id_payment" class="block font-medium text-sm text-gray-700"> Payment details (deposit slip or transfer confirmation):</label>



                                        <!-- <input type="file" name="payment" accept="image/*, .pdf" id="id_payment-{{p.tournament.id}}" 
                                            class="form-input mt-1 block w-full"> -->

                                            <div class="upholder rounded-lg bg-gray-200 backdrop-blur-lg bg-gray-100/10 w-48 h-48 sm:mx-0 mx-auto">

                                                <div class="uploader bg-cover  rounded-lg bg-gray-150 w-full h-full" onclick="document.getElementById('upload').click()">
                                                  <ion-icon name="cloud-upload" class="text-center flex justify-center w-full pt-16 pb-0 text-3xl text-blue-500"></ion-icon>
                                                  <input id="upload"  type="file" name="payment" accept="image/*, .pdf" id="id_payment-{{p.tournament.id}}" class="form-input mt-1 block w-full hidden">
                                                  <p id="prev_name" class="text-center pt-0 pb-2 text-blue-500 font-bold text-sm ">Click to Upload</p>

                                                </div>

                                                <div alt="" id="preview" class="rounded-lg"></div>
                                            </div>


                                        <button type="submit" class="mt-2 btn btn-primary bg-blue-500 text-white py-2 px-4 upload-button rounded-md disabled:opacity-50 flex justify-center sm:mx-0 mx-auto" disabled

                                            id="submitButton-{{p.tournament.id}}">Upload</button>
                                        {{ p.form.tournament }}
                                    </form>
                                    {% endif %} 
                                {% elif p.tournament.slug == 'wysc'%}
                                    {{p.tournament.payment_info}}<br>
                                    <b>Tournament fees to be paid at the venue.</b> 
                                {% else %}                          
                                    Tournament entry fees to be paid at the venue
                            {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>You are not registered for any tournaments.</p>
        {% endif %}
        
        <script>
            const fileInputs = document.querySelectorAll('.form-input');
            fileInputs.forEach(function(input) {
                input.addEventListener('change', function(event) {
                    console.log(event.target.files);
                    const form = event.target.closest('.file-upload-form');
                    const submitButton = form.querySelector('.upload-button');
    
                    if (event.target.files.length > 0) {
                        submitButton.disabled = false;
                    } else {
                        submitButton.disabled = true;
                    }
                });
            });
            var inp = document.getElementById("upload");
            var preview = document.getElementById("preview");
            var prev_nm = document.getElementById("prev_name");
            inp.onchange = (evt) => {
                const [file] = inp.files;
                if (file) {
                preview.parentNode.style.backgroundImage = `url(${URL.createObjectURL(file)})`;

                preview.parentNode.style.backgroundSize = 'cover';
            prev_nm.parentNode.style.backdropFilter = 'blur(1px)'

                  prev_nm.innerHTML = file.name;
                  
                }
              };
              
        </script>
    </div>
{% endblock %}
