{% load static %}
<!DOCTYPE html> 
<html theme="dark" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herald :: Scrable Tournament Manager</title>
    <link rel="shortcut icon" href="/static/images/wyclogo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/franklin-gothic?styles=17611" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="container-xl">
    <div id="root"></div>
    <div id="editable"></div>
    <div id="frm" style="display: none">{{from}}</div>
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="m1">Logged in as <a href="/profile/">{{ request.user.username }}</a>. <a href="/accounts/logout/">Logout</a></div>
            <input type="hidden" name="hh" id="hh" value="true" />
            
        {% else %}
            <div class="col"><a href="{% url 'account_login' %}">Login</a></div> 
            <div class="col"><a href="{% url 'account_signup' %}">Sign Up</a></div> 
        {% endif %}
    </div>
  </div>
</body>

<script src="/static/js/bundle.js" type="module"></script>

</html>