{% extends "profiles/base.html" %}
{% block content %}
    <div class="m-5">
        <h4 class="text-center text-3xl font-bold">Player Registration</h4>

        <p class="p-5">The Scrabble Federation of Sri Lanka has decided to issue unique player identifiers for every tournament player. Once a player
            has registered via this website for their player id, they can then register for any upcoming Scrabble tournaments with just a 
            couple of clicks of a button.
        </p>
        <p class="p-5">A national rating list needs to ensure that duplicates are avoided and the player registration system is the ideal way to ensure that. Additionally
            this system will enable us to maintain historical records such as the youngest winners of tournaments. It will also pave the way to easily identify
            the highest rated womens player, the highest rated junior player and the highest rated senior player etc.
        </p>
        <p class="p-5">
           Please note that a player who attempts to bypass this by obtaining two different players ids risk being barred from taking part in tournaments. If
           you already have a player id please <a href="/accounts/login/">login</a> to continue. Or <a href="/accounts/signup/">sign up</a> for your player id.
        </p>

        <p class="p-5">If you run into any difficulty during the registration process contact <a href='mailto:ratings@scrabble.lk' class="text-orange-500 hover:underline">ratings@scrabble.lk</a></p>
        <div class="text-center"><a class="border-2 border-orange-500 px-5 py-1 text-center rounded-md m-auto block mt-5 hover:bg-orange-500 hover:text-white max-w-48" href="/accounts/signup/">Get your player ID</a></div>
    </div>
{% endblock %}
